@import '../../styles/responsiveness';

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 10rem;

    div {
        width: 30rem;

        ul {

            @include respond(phone) {
                display: block;
                margin-bottom: 120px;
            }

            li {
                list-style: none;
                padding-bottom: 10px;
            }
        }
    }
}